@model BlogUi.Models.Currency

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Currency</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ccyCd" class="control-label"></label>
                <input asp-for="ccyCd" class="form-control" />
                <span asp-validation-for="ccyCd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ccyNm" class="control-label"></label>
                <input asp-for="ccyNm" class="form-control" />
                <span asp-validation-for="ccyNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ccyExch" class="control-label"></label>
                <input asp-for="ccyExch" class="form-control" />
                <span asp-validation-for="ccyExch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
