@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    Welcome To FinConnect
    <br />
    <br />
    <div class=" col-xs-6"><a asp-area="" asp-controller="Agents" asp-action="Index">Agent</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="CountryCodes" asp-action="Index">Country Code</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="CreditTransferInstructions" asp-action="Index">Credit Transfer Instructions</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="CreditTransferInstructionReturns" asp-action="Index">Credit Transfer Instruction Return</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="CreditTransferStatus" asp-action="Index">Credit Transfer Status</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="Currencies" asp-action="Index">Currency</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="GroupHeaders" asp-action="Index">Group Header</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="OrgMsgStatus" asp-action="Index">Org Msg Status</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="Parties" asp-action="Index">Party</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="ReasonCodes" asp-action="Index">Reason Code</a></div>
    <div class=" col-xs-6"><a asp-area="" asp-controller="StatusCodes" asp-action="Index">Status Code</a></div>
</div>
